/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, #000000,  #090707);
    color: #fff;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.5);
    z-index: 100;
}

.logo img {
    width: 40px;
}

.header-menu ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.header-menu a {
    color: #eaeaea;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

.header-menu a:hover,
.header-menu .active {
    color: #f8d04e;
}

/* PAGE TITLE */
.page-heading {
    padding-top: 140px;
    padding-left: 60px;
    margin-bottom: 30px;
}

.page-heading h1 {
    font-size: 42px;
    font-weight: 800;
}

/* GRID */
.character-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px 60px 100px 60px;
}

/* CARD */
.char-card {
    background: #16161d;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.char-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.char-card h3 {
    font-size: 18px;
    margin: 12px 14px 0 14px;
}

.char-card p {
    font-size: 13px;
    margin: 5px 14px 14px 14px;
    color: #cfcfcf;
}

.char-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 0px 25px rgba(248,208,78,0.2);
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .character-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .character-grid {
        grid-template-columns: 1fr;
    }
}
